:root {
  font-size: 14px;
}

.thead,

h1 {
  font-size: 30px;
  text-align: center;
  color: rgb(56, 56, 56);
  background-color: rgb(222, 217, 240);
}

.h1,
tr {
  background-color: rgb(222, 217, 240);
}

.tr,
th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  background-color: rgb(222, 217, 240);
}

tbody,
tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.tbody,
tr,
td {
  white-space: nowrap;
  width: 20%;
  overflow-wrap: break-word;
  padding: 0.5rem;
}


/*
manually add bootstrap pagination css
*/
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
 
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
 
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
 
.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: rgb(202, 192, 236);
  border-color: #7011af;
}
 
.page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  background-color: #fff;
  border-color: #ddd;
}
 
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: rgb(127, 117, 163);
  background-color: #fff;
  border: 1px solid #ddd;
}
 
.page-link:focus, .page-link:hover {
  color: #7011af;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;
}
 
.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
 
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
 
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
 
.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
 
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
 
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}